<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password to enter ChatPro</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="bgWallpaper">
        <div class="formEntery">
            <form action="/chat" method="POST" class="box">
                <p>Login Page</p>
                <div class="input-container">
                    <input type="text" id="username" name="username" placeholder="Username">
                    <span class="material-icons">person</span>
                </div>
                <div class="input-container">
                    <input type="password" id="userPass" name="userPass" placeholder="Password" required>
                    <span class="material-icons">lock</span>
                </div>
                <button class="btn" type="submit">Login</button>
            </form>
        </div>
    </main>
    <script src="script.js"></script>
</body>

</html>